@page "/Yogesh/StudentReport"

<h3>StudentReport</h3>



<a id="btnGenerate" class="btn btn-success" href="http://localhost:50120/api/Employee/EmployeeReport" target="_blank">Student Report</a>

@code {

}
