@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Grids
@page "/RND/Custom_Toolbar"


@{
    List<Syncfusion.Blazor.Navigations.ItemModel> Toolbaritems = new List<Syncfusion.Blazor.Navigations.ItemModel>();
    Toolbaritems.Add(new Syncfusion.Blazor.Navigations.ItemModel() { Text = "Find", Id = "find", TooltipText = "Find Class", PrefixIcon = "find" });
    Toolbaritems.Add(new Syncfusion.Blazor.Navigations.ItemModel() { Text = "Delete", Id = "delete", TooltipText = "Delete Record", PrefixIcon = "delete" });
}

<SfGrid DataSource="@Orders" @ref="Grid" AllowGrouping="true" AllowPaging="true" Height="200" Toolbar="Toolbaritems">
    <GridEvents OnToolbarClick="ToolbarClickHandler" TValue="Order"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
        <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
        <GridColumn Field=@nameof(Order.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>

@code{
    SfGrid<Order> Grid;
    public List<Order> Orders { get; set; }
    protected override void OnInitialized()
    {
        Orders = Enumerable.Range(1, 75).Select(x => new Order()
        {
            OrderID = 1000 + x,
            CustomerID = (new string[] { "ALFKI", "ANANTR", "ANTON", "BLONP", "BOLID" })[new Random().Next(5)],
            Freight = 2.1 * x,
            OrderDate = DateTime.Now.AddDays(-x),
        }).ToList();
    }

    public class Order
    {
        public int? OrderID { get; set; }
        public string CustomerID { get; set; }
        public DateTime? OrderDate { get; set; }
        public double? Freight { get; set; }
    }

    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Find")
        {
            //perform your actions here
        }
        if (args.Item.Text == "Delete")
        {
            //perform your actions here
        }
    }
}






















<SfCard ID="HugeImage">
    <CardHeader Title="Laura Callahan" SubTitle="Sales Coordinator and Representative" />

    <MudGrid>
        <MudItem xs="12" sm="3" md="12">
            <MudItem xs="12" sm="3" md="12">
                <MudItem xs="12" md="12" sm="3">

                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Admission Id</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Name</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Father Name</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Name</label>
                                <SfTextBox Value="MD IMRAN" Readonly="true" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Class</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                @*<label>Section</label>*@
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Roll No</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Father Mobile No</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Mother Mobile No</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                <label>Bus Stop</label>
                                <SfTextBox Value="MD IMRAN" Readonly="false" CssClass="e-success"></SfTextBox>
                            </MudItem>
                            <MudItem xs="12" md="4" sm="3">
                                @*<SfButton CssClass="e-outline" type="submit" IsPrimary="true">Save</SfButton>
                                    <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>
                                *@
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudItem>
            </MudItem>
        </MudItem>
    </MudGrid>
</SfCard>
<style>
    .e-card {
        background-color: aqua;
        padding-left: 20px;
        margin-bottom: 20px;
    }
</style>
